.DS_Store
src/*
test/*
clients/*
example/*
.github/*
.babelrc
.eslintrc
.travis.yml
changes.md
contribute.md
LICENSE.md
readme.md
node_modules/*
logs/*
npm-debug.log
test/fixtures/cache/*
systemDB
plugins
factsystem
botfacts
dump.rdb
dump/*
coverage
*.sw*

# Node profiler logs
isolate-*-v8.log

# IDEA/WebStorm Project Files
.idea
*.iml
