# SuperScript
src/*
test/*
example/*
logs/*
coverage/*
.github/*

.babelrc
.eslintrc
.travis.yml
changes.md
contribute.md
LICENSE.md
readme.md

# Node
node_modules/*
npm-debug.log

# Node profiler logs
isolate-*-v8.log

# OS Files
.DS_Store
*.sw*
dump.rdb
dump/*

# IDEA/WebStorm Project Files
.idea
*.iml
